# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.
FW_API_AUTH__JWT_SECRET_KEY=changeme
FW_API_AUTH__JWT_REFRESH_SECRET_KEY=changeme
FW_API_MONGO__URL="mongodb://feed_watchdog/feed_watchdog"
FW_API_SENTRY__DSN=

# === workers ===
FW_WRK_APP__API_BASE_URL="http://feed_watchdog_api:8000/api"
FW_WRK_APP__API_TOKEN=changeme
FW_WRK_SENTRY__DSN=

# === processors ===
FW_HNDR_PYDAILYBOT_TOKEN=changeme
